<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<body >

<form ng-app="a-p-d" ng-controller="formCtrl">
	<p>User ID: {{user.post_id}}</p>
	User name: <input type="text" name="name" ng-model="user.name">{{user.name}}<br>
	User surname: <input type="text" name="surname" ng-model="user.surname">{{user.surname}}<br>
	<input type="submit" name="submit" id="submit" value="Submit" ng-click="submit(user)">
	<p>User ID:{{answer.id}}</p>
	<p>User name:{{answer.name}}</p>
	<p>User surname:{{answer.surname}}</p>
</form>


</body>

<script src="a-p-d.js"></script>
<!-- <script src=""></script> -->

</html>